.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    background-color: #f9f9ff;
    height: 100%;
    width: 40%;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 20px;
}
img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.title-page{
    color: #020299;
    font-size: 25px;
    font-weight: 800;
}

.label-form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    width: 50%;
}

.description{
    font-size: 16px;
    color: #9e9e9e;
}

.input-form{
    width: 50%;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 1em;
    color: #000; 
    caret-color: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 6px;   
}

.button-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 550;
    background-color: #0202ad;
    padding: 1em;
    width: 50%;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 10px;
}
.button-form:hover{
    background-color: #020276;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 20px;
}

.error{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    color: red;
    margin-top: 10px;
    width: 50%;

}

.mySelect{
    display: flex;
    width: 50%;
   }